# Column Transformation

In [3]:
import pandas as pd
import numpy as np

In [7]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [9]:
df = pd.read_csv('covid_toy.csv')

In [12]:
df.sample(5)

    age  gender  fever   cough       city has_covid
8    19  Female  100.0  Strong  Bangalore        No
71   75  Female  104.0  Strong      Delhi        No
81   65    Male   99.0    Mild      Delhi        No
54   60  Female   99.0    Mild     Mumbai       Yes
36   38  Female  101.0    Mild  Bangalore        No

In [27]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [29]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [31]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

## First thing we have to do

In [21]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns = ['has_covid']),df['has_covid'],test_size = 0.2)

In [25]:
X_train

    age  gender  fever   cough       city
5    84  Female    NaN    Mild  Bangalore
62   56  Female  104.0  Strong  Bangalore
91   38    Male    NaN    Mild      Delhi
80   14  Female   99.0    Mild     Mumbai
95   12  Female  104.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
2    42    Male  101.0    Mild      Delhi
79   48  Female  103.0    Mild    Kolkata
77    8  Female  101.0    Mild    Kolkata
43   22  Female   99.0    Mild  Bangalore
85   16  Female  103.0    Mild  Bangalore

[80 rows x 5 columns]

# 1. Aam Zindagi

### We will replace the null with Mean

In [37]:
# Adding simple imputer to fever col
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_train[['fever']])
X_train_fever.shape

(80, 1)

In [ ]:
# OrdinalEncoding -> Cough
oe = OrdinalEncoder(categories = [['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])